{# DYNAMIC INSTRUCTIONS #}
{% if active_agent and active_agent.state.dynamic_instructions %}
{% for dynamic_instruction in active_agent.state.dynamic_instructions %}
{{ dynamic_instruction }}
{% endfor %}
{% endif %}
{# END DYNAMIC INSTRUCTIONS #}