{% include "content-classification.jinja2" %}
<|SECTION:CONTEXT|>
{%- block rendered_context_static %}
{% if scene.description.strip() -%}
{{ scene.description }}
{% endif %}

{% if agent_config("narrator.content.use_scene_intent") %}{% with exclude_phase_intent=True %}{% include "scene-intent.jinja2" %}{% endwith %}{% endif %}

{# GENERAL REINFORCEMENTS #}
{% set general_reinforcements = scene.world_state.filter_reinforcements(insert=['all-context']) %}
{%- for reinforce in general_reinforcements %}
{{ reinforce.as_context_line|condensed }}

{% endfor %}
{# END GENERAL REINFORCEMENTS #}
{# ACTIVE PINS #}
{%- for pin in scene.active_pins %}
{{ pin.title }}: {{ pin.time_aware_text|condensed }}
---
{% endfor %}
{# END ACTIVE PINS #}
{% endblock %}

{# DYNAMIC INSTRUCTIONS #}
{% include "dynamic-instructions.jinja2" %}
{# END DYNAMIC INSTRUCTIONS #}
<|CLOSE_SECTION|>

{# CHARACTER CONTEXT #}
{% with include_dialogue_instructions=True, skip_characters=skip_characters %}
    {% include "character-context.jinja2" %}
{% endwith %}
{# END CHARACTER CONTEXT #}