{% block extra_context -%}
{% include "extra-context.jinja2" %}
<|SECTION:{{ character.name|upper }}|>
{{ character.sheet }}

{{ character.description }}
<|CLOSE_SECTION|>
{% endblock %}
{% set budget=max_tokens-300-count_tokens(self.extra_context()) %}
{% with budget=budget %}{% include "scene-context.jinja2" %}{% endwith %}
<|SECTION:TASK|>
Narrate the exit of {{ character.name }} from the scene.{% if not narrative_direction %}Make a creative decision on how {{ character.name }} leaves the scene. It must be in line with the content so far.{% endif %}

{% include "narrative-direction.jinja2" %}

Write 2 to 4 sentences. {{ extra_instructions }}
<|CLOSE_SECTION|>