{% set extra_context_content -%}
{% include "extra-context.jinja2" %}
{% endset %}
{{ extra_context_content }}
{% set extra_context_tokens = count_tokens(extra_context_content) %}
{% set budget=max_tokens-300-extra_context_tokens %}
{% with budget=budget %}{% include "scene-context.jinja2" %}{% endwith %}
<|SECTION:TASK|>
{% set last_message = scene.last_message_of_type(["character", "narrator"]) %}
Describe {{ character.name }}'s appearance following the final moment and summarize into a narrative description. Focus on the character's physical appearance, gestures, and expressions. Pay attention to the character's clothing, posture and actions taken in the moment.

{% if last_message %}
``` the final moment in the scene
{{ last_message }}
```
{% endif %}

You must provide a confident and decisive answer to the question.

Respect the scene progression, your answer must be a brief summarized visual description of {{ character.name }}'s appearance at the current point in the scene. 

Describe what we see as if giving details to an artist who is about to paint a picture of {{ character.name }}.

{% include "narrative-direction.jinja2" %}

{{ extra_instructions }}
<|CLOSE_SECTION|>