{# RENDERED CONTEXT #}
{% set rendered_context_content -%}
<|SECTION:CONTEXT|>
{% with include_scenario_premise=True, include_scene_intent=agent_config("narrator.content.use_scene_intent"), exclude_phase_intent=True %}
{% include "extra-context-static.jinja2" %}
{% endwith %}
<|CLOSE_SECTION|>
{% if include_character_context is defined and include_character_context %}
{# CHARACTER CONTEXT (optionally excluding certain characters) #}
{% with include_dialogue_instructions=True, skip_characters=skip_characters|default([]) %}
{% include "character-context.jinja2" %}
{% endwith %}
{% endif %}
{% if feature_character is defined %}
<|SECTION:{{ feature_character.name|upper }}|>
{{ feature_character.sheet }}

{{ feature_character.description }}
<|CLOSE_SECTION|>
{% endif %}
{% endset %}
{# END RENDERED CONTEXT #}

{# VOLATILE CONTEXT #}
{% set volatile_context_text %}
{% include "extra-context-dynamic.jinja2" %}
{% endset %}
{# END VOLATILE CONTEXT #}

{# MEMORY CONTEXT (for budget calculation) #}
{% set memory_goal = "answer the following question: \""+agent_context_state["narrator__query"]+"\"" if agent_context_state.get("narrator__query_narration") else "" %}
{% set memory_context_text %}
{% with sub_instruction=memory_goal %}{% include "memory-context.jinja2" %}{% endwith %}
{% endset %}
{# END MEMORY CONTEXT #}

{# SCENE CONTEXT #}
{% set rendered_context_tokens = count_tokens(rendered_context_content) %}
{% set volatile_context_tokens = count_tokens(volatile_context_text) %}
{% set memory_context_tokens = count_tokens(memory_context_text) %}
{% set budget = max_tokens-300-rendered_context_tokens-volatile_context_tokens-memory_context_tokens %}
{% set scene_history = scene.context_history(budget=budget, min_dialogue=20, sections=False) %}
{% set scene_context_text %}
{% for scene_line in scene_history -%}
{{ scene_line }}
{% endfor %}
{% endset %}
{# END SCENE CONTEXT #}

{# RENDER PROMPT #}
{% set volatile_placement = volatile_context_placement() %}
{{ rendered_context_content }}
{% if volatile_placement != "after_history" %}
{% with _text=scene_context_text %}{% include "internal-note-help.jinja2" %}{% endwith %}
{{ memory_context_text }}
{{ volatile_context_text }}
{% endif %}
<|SECTION:SCENE|>
{{ scene_context_text }}
<|CLOSE_SECTION|>
{% if volatile_placement == "after_history" %}
{% with _text=scene_context_text %}{% include "internal-note-help.jinja2" %}{% endwith %}
{{ memory_context_text }}
{{ volatile_context_text }}
{% endif %}
