{% if narrative_direction -%}
{% if regeneration_context and regeneration_context.direction -%}
{% include "regenerate-context.jinja2" -%}
{% else -%}
Directions for new narration: {{ narrative_direction }}

These are directions and the events described have not happened yet, you are writing new narration based on the
directions.
{% endif -%}
{% else %}{% include "regenerate-context.jinja2" -%}
{% endif %}
{# writing style and guidance START #}{% if agent_context_state["director__narrator_guidance"] -%}
{{ agent_context_state["director__narrator_guidance"] }}
{% elif agent_context_state["narrator__writing_style"] %}
{{ agent_context_state["narrator__writing_style"].instructions }}
{% else %}
Maintain an informal, conversational tone similar to 90s adventure games.
{# writing style and guidance END #}{% endif %}
{# scene analysis exists #}{% if agent_context_state["summarizer__scene_analysis"] %}Use the scene analysis to help
ground your narration.{% endif %}
{# context investigation exists #}{% if agent_context_state["summarizer__context_investigation"] %}Use the historical
context to help ground your narration.{% endif %}
{# regenerate-context #}