<|SECTION:CONTEXT|>
Scenario Premise: {{ scene.description }}

{% for memory_line in memory -%}
{{ memory_line }}
{% endfor -%}

NPCs: {{ npc_names }}
Player Character: {{ player_character.name }}
Content Context: {{ scene.context }}
<|CLOSE_SECTION|>

{% for scene_context in scene.context_history(budget=max_tokens-300, min_dialogue=30, sections=False, dialogue_negative_offset=10) -%}
{{ scene_context }}
{% endfor %}
<|SECTION:TASK|>
Continue the current dialogue by narrating the progression of the scene.

If the scene is over, narrate the beginning of the next scene.

Be creative and generate something new and interesting, but stay true to the setting and context of the story so far.

Use an informal and colloquial register with a conversational tone. Overall, the narrative is informal, conversational, natural, and spontaneous, with a sense of immediacy.

Narration style should be that of a 90s point and click adventure game. You are omniscient and can describe the scene in detail.

Only generate new narration. Avoid including any character's internal thoughts or dialogue.
<|CLOSE_SECTION|>
{{ bot_token }}
{% for row in scene.history[-10:] -%}
{{ row }}
{% endfor %}
{{ 
set_prepared_response_random(
    npc_names.split(", ") + [
        "They",
        player_character.name,
    ],
    prefix="*",
)
}}