{% block rendered_context %}
<|SECTION:CONTEXT|>
Scenario Premise: {{ scene.description }}
NPCs: {{ scene.npc_character_names }}
Player Character: {{ scene.get_player_character().name }}
Content Context: {{ scene.context }}

{% for pin in scene.active_pins %}
{{ pin.text }}

{% endfor %}
<|CLOSE_SECTION|>
{% endblock %}
{% for scene_context in scene.context_history(budget=max_tokens-300-count_tokens(self.rendered_context())) -%}
{{ scene_context }}
{% endfor %}

<|SECTION:TASK|>
Narrate the passage of time that just occured, subtly move the story forward, and set up the next scene.
Write 1 to 3 sentences.
{{ extra_instructions }}
<|CLOSE_SECTION|>
{{ bot_token }}{{ narrative }}: