{% set extra_context_content -%}{% include "extra-context.jinja2" %}{% endset %}
{{ extra_context_content }}
{% set extra_context_tokens = count_tokens(extra_context_content) %}
{% set budget=max_tokens-300-extra_context_tokens %}
{% with budget=budget %}{% include "scene-context.jinja2" %}{% endwith %}
<|SECTION:TASK|>
Narrate the passage of time that just occured, move the story forward, and set up the next scene. Your main goal is to fill in what happened during the time passage.

{% include "narrative-direction.jinja2" %}
{{ extra_instructions }}
{% include "response-length.jinja2" %}
<|CLOSE_SECTION|>
{{ bot_token }}{{ time_passed }}: