{% set extra_context_content -%}
{% include "extra-context.jinja2" %}
<|SECTION:{{ character.name|upper }}|>
{{ character.sheet }}

{{ character.description }}
<|CLOSE_SECTION|>
{% endset %}
{{ extra_context_content }}
{% set extra_context_tokens = count_tokens(extra_context_content) %}
{% set budget=max_tokens-300-extra_context_tokens %}
{% with budget=budget %}{% include "scene-context.jinja2" %}{% endwith %}
<|SECTION:TASK|>
Narrate the exit of {{ character.name }} from the scene.{% if not narrative_direction %}Make a creative decision on how {{ character.name }} leaves the scene. It must be in line with the content so far.{% endif %}

{% include "narrative-direction.jinja2" %}

Write 2 to 4 sentences. {{ extra_instructions }}
<|CLOSE_SECTION|>