{% block rendered_context -%}
<|SECTION:CONTEXT|>
{% include "extra-context.jinja2" %}
<|CLOSE_SECTION|>
{% endblock -%}
<|SECTION:SCENE|>
{% set scene_history=scene.context_history(budget=max_tokens-300-count_tokens(self.rendered_context()), min_dialogue=20) %}
{% set final_line_number=len(scene_history) %}
{% for scene_context in scene_history -%}
{{ loop.index }}. {{ scene_context }}
{% endfor %}
<|CLOSE_SECTION|>

<|SECTION:INFORMATION|>
{{ query_memory("How old is {character.name}?") }}
{{ query_memory("What does {character.name} look like? Provide a visual description.") }}
{{ query_scene("Where is {character.name}? What is {character.name} doing? What is {character.name} wearing?") }}
<|CLOSE_SECTION|>

<|SECTION:TASK|>
Questions: Where is {{ character.name}} currently and what are they doing? What is {{ character.name }}'s appearance at the end of the dialogue? What are they wearing? What position are they in?

Answer the questions to describe {{ character.name }}'s appearance at the end of the dialogue and summarize into narrative description. Use the whole dialogue for context. You must fill in gaps using imagination as long as it fits the existing context. You will provide a confident and decisive answer to the question.

Your answer must be a brief summarized visual description of {{ character.name }}'s appearance at the end of the dialogue at {{ final_line_number }}. 

Respect the scene progression and answer in the context of line {{ final_line_number }}.

Use an informal and colloquial register with a conversational tone. Overall, the narrative is Informal, conversational, natural, and spontaneous, with a sense of immediacy.

Write 2 to 3 sentences.
{{ extra_instructions }}
{% include "rerun-context.jinja2" -%}
<|CLOSE_SECTION|>
{{ bot_token }}At the end of the dialogue, 