{% set rendered_context_content -%}
<|SECTION:CONTEXT|>
{% include "extra-context.jinja2" %}
<|CLOSE_SECTION|>
{% endset %}
{{ rendered_context_content }}
{% set rendered_context_tokens = count_tokens(rendered_context_content) %}
<|SECTION:SCENE|>
{% for scene_context in scene.context_history(budget=max_tokens-300-rendered_context_tokens) -%}
{{ scene_context }}
{% endfor %}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Paraphrase the following text to fit the narrative thus far. Keep the information and the meaning the same, but change the wording and sentence structure.

Text to paraphrase: 

"{{ text }}"

{{ extra_instructions }}
{% include "regenerate-context.jinja2" -%}
<|CLOSE_SECTION|>