{% if rerun_context and rerun_context.direction -%}
{% if rerun_context.method == 'replace' -%}{{ rerun_context.direction }}
{%- elif rerun_context.method == 'edit' and rerun_context.message -%}
Edit this draft of the proposed narration: 

``` first draft
{{ rerun_context.message }}
```

{% if narrative_direction %}Original instructions: "{{ narrative_direction }}"
{% endif -%}
Editorial instructions: "{{ rerun_context.direction }}"
{% endif -%}
{% endif -%}