<|SECTION:PREMISE|>
{{ scene.description }}

{{ premise }}

Elmer and Kaira are the only crew members of the Starlight Nomad, a small spaceship traveling through interstellar space.

Kaira and Elmer are the main characters. Elmer is controlled by the player.
<|CLOSE_SECTION|>
<|SECTION:CHARACTERS|>
{% for character in characters %}
### {{ character.name }}
{% if max_tokens > 6000 -%}
{{ character.sheet }}
{% else -%}
{{ character.filtered_sheet(['age', 'gender']) }}
{{ query_memory("what is "+character.name+"'s personality?", as_question_answer=False) }}
{% endif %}

{{ character.description }}
{% endfor %}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Generate the introductory text for the player as he starts this text based adventure game.

Use the premise to guide the text generation.

Start the player off in the beginning of the story and dont reveal too much information just yet.

The text must be short (200 words or less) and should be immersive.

Writh from a third person perspective and use the character names to refer to the characters.

The player, as Elmer, will see the text you generate when they first enter the game world. 

The text should be immersive and should put the player into an actionable state. The ending of the text should be a prompt for the player's first action.
<|CLOSE_SECTION|>
{{ set_prepared_response('You') }}