{{ direction_prompt }}

<|SECTION:DIRECTION|>
{{ direction }}
<|CLOSE_SECTION|>

<|SECTION:ANALYSIS OF DIRECTION|>
{{ analysis }}
<|CLOSE_SECTION|>

<|SECTION:TASK|>
Instructions: Based on your analysis above, is the director's instruction to {{ character.name }} good, neutral or bad? If its bad, change the direction. Never question the goal itself. Explain your reasoning.
Expected response: Respond with I want to keep OR change the direction.

Response example: I want to keep the direction, because ..
Response example: I want to change the direction, because ..
<|CLOSE_SECTION|>

{{ set_prepared_response("Director reflects on his direction: I want to ") }}