<|SECTION:CONTEXT|>
{{ character.description }}

{{ character.base_attributes.get("scenario_context", "") }}
<|CLOSE_SECTION|>

{% for scene_context in scene.context_history(budget=200, add_archieved_history=False, min_dialogue=10) -%}
{{ scene_context }}
{% endfor %}

<|SECTION:DIALOGUE ANALYSIS|>
{{ analysis }}
<|CLOSE_SECTION|>

<|SECTION:STORY GOAL|>
{{ current_goal }}
<|CLOSE_SECTION|>

{% if not previous_direction -%}
<|SECTION:TASK|>
Give actionable directions to the actor playing {{ character.name }} by instructing {{ character.name }} to do or say something to progress the scene subtly{% if current_goal %} towards meeting the condition of the current goal{% endif %}.
<|CLOSE_SECTION|>
{% else -%}
<|SECTION:PREVIOUS DIRECTION|>
{{ previous_direction }}
{{ previous_direction_feedback }}
<|SECTION:TASK|>
Adjust your previous direction according to the feedback:
<|CLOSE_SECTION|>
{% endif -%}

{{ set_prepared_response("Director instructs "+character.name+": \"To progress the scene, i want you to ") }}