{# CHARACTER / ACTOR DIRECTION #}
<|SECTION:TASK|>
{{ character.name }}'s Goals: {{ prompt }}

Give actionable directions to the actor playing {{ character.name }} by instructing {{ character.name }} to do or say something to progress the scene subtly towards meeting the condition of their goals in the context of the current scene progression.

Also remind the actor that is portraying {{ character.name }} that their dialogue should be natural sounding and not forced.

Take the most recent update to the scene into consideration: {{ scene.history[-1] }}

IMPORTANT: Stay on topic. Keep the flow of the scene going. Maintain a slow pace.
{% set director_instructions = "Director instructs "+character.name+": \"To progress the scene, i want you to "%}
<|CLOSE_SECTION|>
<|SECTION:SCENE|>
{% block scene_history -%}
Scene progression:
{{ instruct_text("Break down the recent scene progression and important details as a bulletin list.", scene.context_history(budget=2048)) }}
{% endblock -%}
<|CLOSE_SECTION|>
{{ set_prepared_response(director_instructions) }}