<|SECTION:GAME PROGRESS|>
{% block scene_history -%}
{% for scene_context in scene.context_history(budget=1000, min_dialogue=25, sections=False, keep_director=False) -%}
{{ scene_context }}
{% endfor %}
{% endblock -%}
<|CLOSE_SECTION|>
<|SECTION:GAME INFORMATION|>
Only you as the director, are aware of the game information.
{{ scene.game_state.instructions.game }}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Generate narration to subtly move the game progression along according to the game information. 
<|CLOSE_SECTION|>