<|SECTION:SCENE|>
{% block scene_history -%}
{% for scene_context in scene.context_history(budget=1000, min_dialogue=25, sections=False, keep_director=False) -%}
{{ scene_context }}
{% endfor %}
{% endblock -%}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Current scene goal: {{ prompt }}

Give actionable directions to the actor playing {{ character.name }} by instructing {{ character.name }} to do or say something to progress the scene subtly towards meeting the condition of the current goal.
<|CLOSE_SECTION|>
{{ set_prepared_response("Director instructs "+character.name+": \"To progress the scene, i want you to ") }}