{% if character -%}
<|SECTION:TASK|>
Current scene goal: {{ prompt }}

Give actionable directions to the actor playing {{ character.name }} by instructing {{ character.name }} to do or say something to progress the scene subtly towards meeting the condition of the current goal.

Take the most recent update to the scene into consideration: {{ scene.history[-1] }}
{% set director_instructions = "Director instructs "+character.name+": \"To progress the scene, i want you to "%}
<|CLOSE_SECTION|>
{% elif game_state.has_scene_instructions -%}
<|SECTION:GAME RULES|>
Only you know the entire set of rules. Don't assume the players know until the scene has included this information.

{{ player_character.name }} is an autonomous character played by a person. You run this game for {{ player_character.name }}. They make their own decisions.
<|CLOSE_SECTION|>
<|SECTION:TASK|>
{{ game_state.scene_instructions }}

Write 1 to 2 (one to two) sentences of new unrepetitive narration to subtly moves the story into the direction of the goal.
Narration style should be that of a 90s point and click adventure game. You are omniscient and can describe the scene in detail.
Only write passive narration.
Stay in the current moment.
<|CLOSE_SECTION|>
{% set director_instructions = "" %}
{% endif %}
<|SECTION:SCENE|>
{% block scene_history -%}
Scene progression:
{{ instruct_text("Break down the recent scene progression and important details as a bulletin list.", scene.context_history()) }}

{% for scene_context in scene.context_history(budget=1000, min_dialogue=25, sections=False, keep_director=False) -%}
{{ scene_context }}
{% endfor %}
{% endblock -%}
<|CLOSE_SECTION|>
{{ set_prepared_response(director_instructions) }}