{% include "content-classification.jinja2" %}
<|SECTION:CONTEXT|>
{% block rendered_context_static %}
Scenario Premise:
{{ scene.description }}

{# GENERAL REINFORCEMENTS #}
{% set general_reinforcements = scene.world_state.filter_reinforcements(insert=['all-context']) %}
{%- for reinforce in general_reinforcements %}
{{ reinforce.as_context_line|condensed }}

{% endfor %}
{# END GENERAL REINFORCEMENTS #}
{# ACTIVE PINS #}
{% if scene.active_pins and technical %}<|SECTION:ACTIVE PINS|>{% endif %}
{%- for pin in scene.active_pins %}
{% if technical %}`{{ pin.context_id }}`: {% else %}{{ pin.title }}: {{ pin.time_aware_text|condensed }}{% endif %}
---
{% endfor %}
{# END ACTIVE PINS #}
{% endblock %}

{# DYNAMIC INSTRUCTIONS #}
{% include "dynamic-instructions.jinja2" %}
{# END DYNAMIC INSTRUCTIONS #}
<|CLOSE_SECTION|>