{% if rerun_context and rerun_context.direction -%}
{% if rerun_context.method == 'replace' -%}
The writer has been given specific instructions:

```
{{ rerun_context.direction }}
```
{%- elif rerun_context.method == 'edit' and rerun_context.message -%}
The story writer has written a first draft of the narration:

``` first draft
{{ rerun_context.message }}
```

{% if original_instructions %}Original instructions: "{{ original_instructions }}"
{% endif -%}
The story writer was given the following editorial instructions: "{{ rerun_context.direction }}"
{% endif -%}
{% endif -%}