{% set character = agent_context_state.narrator__character %}
Guide the story writer to write a visual description of {{ character.name }} as they are currently in the scene.

{% if last_event -%}
Following the final moment:
```
{{ last_event }}
```
{% endif %}

{% include "guide-narrative-direction.jinja2" %}

Help them achieve this by providing guidance on how to describe {{ character.name }} visually.

Provide directional guidance (e.g., "describe [character]'s facial expression" or "show [character]'s reaction to the news" or "provide a vivid description of [character]'s clothing."). DO NOT  suggest exact phrasing. Be specific about what elements need to be portrayed while letting the writer craft the actual narrative.

Make sure writer understands the focus is a visual description of {{character.name}} in the current moment in the scene. Think of it as if a user chose "look at {{ character.name }}" in a video game.

{% if response_length > 300 -%}
{% with task_instructions="Based on the scene analysis and scene intent, let the writer know what key elements should be included in the description." -%}
    {% include "scene-intent-inline.jinja2" %}
{% endwith %}
{% endif %}