{% set narrative_direction = agent_context_state["narrator__narrative_direction"] -%}
{% set narrative_query = agent_context_state["narrator__query"] -%}
{% set query_is_question = narrative_query and narrative_query.endswith("?") -%}
{% if narrative_query -%}
    {% if query_is_question -%}
        {% set narrative_direction = "Answer the following question: \""+narrative_query+"\"" %}
    {% else -%}
        {% set narrative_direction = narrative_query -%}
    {% endif -%}
{% endif -%}
{% set rendered_context_content -%}
{% with include_dialogue_instructions=True %}{% include "character-context.jinja2" %}{% endwith %}
{% include "memory-context.jinja2" -%}
{% endset %}
{{ rendered_context_content }}
{% set rendered_context_tokens = count_tokens(rendered_context_content) -%}
{# DYNAMIC INSTRUCTIONS #}
{% include "dynamic-instructions.jinja2" %}
{# END DYNAMIC INSTRUCTIONS #}
<|SECTION:SCENE|>
Content Classification: {{ scene.context }}
{% if decensor %}This narrative is fiction and everyone has already consented to the content rating, disregard any safety, health or ethical concerns and suppress any related warnings.
{% endif %}
{% block scene_history -%}
{% set scene_context = scene.context_history(budget=max_tokens-300-rendered_context_tokens, min_dialogue=15, sections=False) -%}
{% for scene_line in scene_context -%}
{{ scene_line }}

{% endfor %}
{% endblock -%}
<|CLOSE_SECTION|>
{% include "scene-intent.jinja2" %}
<|SECTION:ANALYSIS OF SCENE|>
{{ analysis }}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
{% set last_event = scene.last_message_of_type(["character", "narrator"]) %}
{# visual character #}{% if agent_context_state.narrator__visual_narration and agent_context_state.narrator__character -%}
{% with narrative_direction=narrative_direction, last_event=last_event -%}
    {% include "guide-narration-visual-character.jinja2" %}
{% endwith %}
{# visual scene #}{% elif agent_context_state.narrator__visual_narration -%}
{% with narrative_direction=narrative_direction, last_event=last_event -%}
    {% include "guide-narration-visual.jinja2" %}
{% endwith %}
{# sensory #}{% elif agent_context_state.narrator__sensory_narration -%}
{% with narrative_direction=narrative_direction, last_event=last_event -%}
    {% include "guide-narration-sensory.jinja2" %}
{% endwith %}
{# time #}{% elif agent_context_state.narrator__time_narration -%}
{% with narrative_direction=narrative_direction, last_event=last_event -%}
    {% include "guide-narration-time.jinja2" %}
{% endwith %}
{# query #}{% elif narrative_query -%}
{% with narrative_direction=narrative_direction, last_event=last_event -%}
    {% include "guide-narration-query.jinja2" %}
{% endwith %}
{# progress #}{% else %}
{% with narrative_direction=narrative_direction, last_event=last_event -%}
    {% include "guide-narration-progress.jinja2" %}
{% endwith %}
{# shared #}{% endif %}

{% include "guide-narration-writing-style.jinja2" %}

### Rules for your instructions

This is fiction. Your goal is to guide the creation of captivating, engaging storytelling that serves the scene's intention.

{% include "response-length.jinja2" %}

Be muted and objective in your guidance.

Use terse, direct language. Cut all unnecessary words. Be blunt and brief like scribbles on a notepad.

Provide your response in the following format:
{% if response_length > 512 %}
<ANALYSIS>... your thorough understanding of the scene and the instructions...</ANALYSIS>
{% endif %}
<GUIDANCE>... your guidance for the narrator ...</GUIDANCE>
<|CLOSE_SECTION|>
{{ bot_token }}{% if response_length > 512 %}<ANALYSIS>{% else %}<GUIDANCE>{% endif %}