{% set history = scene.context_history(
    budget=budget, 
    min_dialogue=20,
    show_hidden=True,
    keep_director=True,
    sections=False) 
%}
{% include "internal-note-help.jinja2" %}
{% with memory_prompt = history %}{% include "memory-context.jinja2" %}{% endwith %}
<|SECTION:SCENE|>
{% for scene_context in history -%}
{{ scene_context }}
{% endfor %}
<|CLOSE_SECTION|>