astroid==2.8.*
jedi==0.18.*
black==*
rope==0.22.*
isort==5.10.*
jinja2==3.0.*
openai>=1
requests==2.26.*
colorama>=0.4.6
Pillow==9.5.*
httpx<1
piexif==1.1.*
typing-inspect==0.8.0
typing_extensions==4.5.*
uvicorn==0.23.*
blinker==1.6.*
pydantic<3
beautifulsoup4==4.12.*
python-dotenv==1.0.*
websockets==11.0.*
structlog==23.1.*
runpod==1.2.0
nest_asyncio==1.5.*
isodate>=0.6.1
thefuzz>=0.20.0
tiktoken>=0.5.1
chromadb>=0.4,<1
InstructorEmbedding==1.0.*
torch>=2.0.0,!=2.0.1
sentence-transformers==2.2.*
pytest==6.2.*
mypy==0.910.*