{% block rendered_context -%}
<|SECTION:CONTEXT|>
{%- with memory_query=scene.snapshot() -%}
    {% include "extra-context.jinja2" %}
{% endwith %}
<|CLOSE_SECTION|>
{% endblock -%}
<|SECTION:SCENE|>
{% if continuing_message -%}
{% for scene_context in scene.context_history(budget=max_tokens-300-count_tokens(self.rendered_context()), min_dialogue=20, sections=False)[:-1] -%}
{{ scene_context }}
{% endfor %}
{% else %}
{% for scene_context in scene.context_history(budget=max_tokens-300-count_tokens(self.rendered_context()), min_dialogue=20, sections=False) -%}
{{ scene_context }}
{% endfor %}
{% endif %}
<|CLOSE_SECTION|>
<|SECTION:TASK|>

{% if continuing_message -%}
Write the continuation of the {{ character.name }}'s next line in the scene.
{% else %}
Write the next line of the {{ character.name }}'s dialogue in the scene.
{% endif %}

Spoken word must be contained within " markers.

YOU MUST NEVER START A NEW DIALOGUE BLOCK.

<|CLOSE_SECTION|>
<|SECTION:DIALOGUE|>
{% if can_coerce %}
{{ non_anchor }}{{ bot_token }}{{ anchor }}{{ prefix }}
{% else %}
{{ non_anchor }}{{ anchor }}{{ prefix }} (... continue the dialogue)
{% endif%}