{% block rendered_context -%}
<|SECTION:CONTEXT|>
{%- with memory_query=scene.snapshot() -%}
    {% include "extra-context.jinja2" %}
{% endwith %}
<|CLOSE_SECTION|>
{% endblock -%}
<|SECTION:SCENE|>
{% for scene_context in scene.context_history(budget=min(2048, max_tokens-300-count_tokens(self.rendered_context())), min_dialogue=20, sections=False) -%}
{{ scene_context }}
{% endfor %}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
{% if not can_coerce -%}
Continue {{ character.name }}'s unfinished line in this screenplay.
{%- else -%}
Write {{ character.name }}'s next line in this screenplay.
{%- endif %}

Your response MUST only be the new parts of {{ character.name }}'s dialogue, not the entire line.
Your response MUST be short. (10 - 15 words)
Your response MUST NOT include the provided text, only the new parts.

All actions and prose must be contained within * markers.
All spoken word must be contained within " markers.

{% if not can_coerce -%}
Continue this text: {{ character.name }}: {{ input }}
Continuation: 
<|CLOSE_SECTION|>
{%- else -%}
<|CLOSE_SECTION|>
{{ bot_token }}{{ character.name.upper() }}
{{ input }}
{%- endif -%}