<|SECTION:CHARACTER SHEET|>
{{ character.sheet }}
<|CLOSE_SECTION|>
<|SECTION:EXTRA CONTEXT|>
{{ character_details.render_items }}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Answer the following question based on the information in the character sheet.

Use a minimalistic writing style reminiscent of mid 90s point and click adventure games set in speculative settings.

The context is {{ content_context }}
{% if character_details.q("what objective does "+character.name+" pursue and what obstacle stands in their way?") -%}{% endif -%}
{% if character_details.q("what secret from "+character.name+"'s past or future has the most impact on them?") -%}{% endif -%}
{% if character_details.q("what is a fundamental fear or desire of "+character.name+"?") -%}{% endif -%}
{% if character_details.q("how does "+character.name+" typically start their day or cycle?") -%}{% endif -%}
{% if character_details.q("what leisure activities or hobbies does "+character.name+" indulge in?") -%}{% endif -%}
{% if character_details.q("which individual or entity does "+character.name+" interact with most frequently?") -%}{% endif -%}
{% if character_details.q("what common technology, gadget, or tool does "+character.name+" rely on?") -%}{% endif -%}
{% if character_details.q("where does "+character.name+" go to find solace or relaxation?") -%}{% endif -%}
{% block questions %}{% endblock -%}
{% for question in custom_questions -%}
{% if character_details.q(question) -%}
Question: {{ question }}
{% endif -%}
{% endfor %}
<|CLOSE_SECTION|>
{{ bot_token }}Question: {{ character_details.current_item }}
Answer: 
