<|SECTION:CHARACTER SHEET|>
{{ character.sheet }}
<|CLOSE_SECTION|>

{% if examples -%}
<|SECTION:EXAMPLES|>
{% for example in examples -%}
{{ example }}
{% endfor -%}
<|CLOSE_SECTION|>
{% endif -%}

<|SECTION:TASK|>
Write a speech pattern description that can be used by an author to accurate write dialog for the imaginary character of {{ character.name }}. It should carefully consider their personality traits and age. The goal should be to make her dialog be interesting and recognizable. Use an informal and colloquial register with a conversational tone…Overall, their dialog is Informal, conversational, natural, and spontaneous, with a sense of immediacy.

{{ character.name }} speaks like {{ guide }}
<|CLOSE_SECTION|>
{{ set_prepared_response("Dialogue written for "+character.name+" should ") }}