<|SECTION:EXAMPLES|>
{% for example in examples -%}
{{ example }}
{% endfor -%}
{{ generated_examples.render_items }}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Adhering to {{ character.name }}'s Dialogue Rules, write 1 line of expressive and dynamic dialogue for {{ character.name }} based on the character information above. Use the example dialogue to inspire and guide new dialogue. Use an informal and colloquial register with a conversational tone. Overall, the dialog is Informal, conversational, natural, and spontaneous, with a sense of immediacy.

The context is {{ content_context }}.
{% if generated_examples.q("angry") -%}
Write a line of sample dialogue for {{ character.name }} when they are angry.
{% endif -%}
{% if generated_examples.q("cheerful") -%}
Write a line of sample dialogue for {{ character.name }} when they are cheerful.
{% endif -%}
{% if generated_examples.q("casting_spell") -%}
Write a line of sample dialogue for {{ character.name }} when they are casting a spell.
{% endif -%}
{% if generated_examples.q("in_battle") -%}
Write a line of sample dialogue for {{ character.name }} when they are in battle.
{% endif -%}
{% if generated_examples.q("reacting_to_magic") -%}
Write a line of sample dialogue for {{ character.name }} when they are reacting to magic.
{% endif -%}
{% block generated_examples %}{% endblock -%}
<|CLOSE_SECTION|>
{{ set_prepared_response(character.name+": ") }}
