{% if character_sheet.current_item %}{% endif -%}
{% set spices = [
    "sad",
    "dark",
    "funny",
    "romantic",
    "gritty",
    "unlikeable",
    "likable",
    "quirky",
    "weird",
    "charming",
    "rude",
    "cute",
    "dumb",
    "smart",
    "silly",
    "intriguing",
    "alien",
    "mysterious",
    "advanced",
    "retro",
    "bioluminescent",
    "robotic",
    "amorphous",
    "energetic",
    "otherworldly",
    "stoic",
    "empathic",
    "calculative",
    "ancient",
    "futuristic"
] -%}
<|SECTION:CHARACTER PROMPT|>
{{ character_prompt }}
<|CLOSE_SECTION|>

<|SECTION:EXAMPLES|>
Attribute name: attribute description
<|CLOSE_SECTION|>

<|SECTION:TASK|>
{% if character_sheet("gender") and character_sheet("name") and character_sheet("age") -%}
You are generating a character sheet for {{ character_sheet("name") }} based on the character prompt. 

Based on the existing character information, generate the `{!{ character_sheet.current_item }!}` attribute for {{ character_sheet("age") }} cycle old {{ character_sheet("name") }} of the {{ character_sheet("species") }} species. 
{% else -%}
You are generating a character sheet for a sci-fi humanoid/intelligent being based on the character prompt. 

Based on the existing character information, generate the `{!{ character_sheet.current_item }!}` attribute for the being.
{% endif %}
{% if character_sheet.q("gender") -%}
Respond with a single word. Based on the character prompt.

Examples: male, female, neutral
{% endif -%}
{% if character_sheet.q("species") -%}
Respond with a name of a humanoid species. Based on the character prompt.

Examples: Human, Kulan, Ramathian, etc. (Also cool if you want to make something up)
{% endif -%}
{% if character_sheet.q("name") -%}
Respond with a fitting name for the specified species based on the character prompt and story context.

Examples: T'Kuvma, Liara, Garrus, Wrex, Aria, etc.
{% endif -%}
{% if character_sheet.q("age") -%}
Respond with a number only (in human years)

Examples: 25, 30, 40, etc.
{% endif -%}
{% if character_sheet.q("appearance") -%}
Briefly describe the being's appearance using a narrative style reminiscent of mid 90s sci-fi games. (2 - 3 sentences). {{ spice("Make it {spice}.", spices) }}
{% endif -%}
{% if character_sheet.q("personality") -%}
Briefly describe the being's personality using a narrative style reminiscent of mid 90s sci-fi games. (2 - 3 sentences). {{ spice("Make it {spice}.", spices) }}
{% endif -%}
{% if character_sheet.q("associates") %}
List the significant associates or crew members of {{ character_sheet("name") }}. Respond with a comma-separated list of names. (2 - 3 names, include species or rank)
{% endif -%}
{% if character_sheet.q("likes") -%}
List some things or activities that {{ character_sheet("name") }} appreciates. Respond with a comma-separated list. (2 - 3 items)
{% endif -%}
{% if character_sheet.q("dislikes") -%}
List some things or activities that {{ character_sheet("name") }} avoids. Respond with a comma-separated list. (2 - 3 items)
{% endif -%}
{% if character_sheet.q("gear and tech") -%}
Briefly describe the being's gear, tech, or weaponry using a narrative style reminiscent of mid 90s sci-fi games. (1 - 2 sentences). {{ spice("Make it {spice}.", spices) }}
{% endif %}
{% block generate_misc %}{% endblock -%}
{% for custom_attribute, instructions in custom_attributes.items() -%}
{% if character_sheet.q(custom_attribute) -%}
{{ instructions }}
{% endif -%}
{% endfor %}
The context is {{ content_context }}
<|CLOSE_SECTION|>

<|SECTION:CHARACTER SHEET|>
{{ character_sheet.render_items }}
<|CLOSE_SECTION|>

{{ bot_token }}{{ character_sheet.current_item }}:
