{% if character_sheet.current_item %}{% endif -%}
{% set spices = [
    "mysterious",
    "sinister",
    "whimsical",
    "epic",
    "enigmatic",
    "benevolent",
    "malicious",
    "stoic",
    "emotional",
    "eccentric",
    "noble",
    "peasantly"
] -%}

<|SECTION:CHARACTER PROMPT|>
{{ character_prompt }}

<|SECTION:EXAMPLES|>
Attribute name: attribute description<|DONE|>

<|SECTION:TASK|>
{% if character_sheet("race") and character_sheet("name") and character_sheet("age") -%}
You are generating a character sheet for {{ character_sheet("name") }} based on the character prompt.

Based on the existing character information, generate the `{!{ character_sheet.current_item }!}` attribute for {{ character_sheet("age") }} year old {{ character_sheet("race") }} {{ character_sheet("name") }}.
{% else -%}
You are generating a character sheet for a fantasy character based on the character prompt.

Based on the existing character information, generate the `{!{ character_sheet.current_item }!}` attribute for the character.
{% endif %}
{% if character_sheet.q("race") -%}
Respond with a single word. Based on the character prompt.

Examples: Human, Elf, Orc, Undead, Dwarf
{% endif -%}
{% if character_sheet.q("class") -%}
Respond with a single word. Based on the character prompt.

Examples: Warrior, Mage, Rogue, Priest, Druid
{% endif -%}
{% if character_sheet.q("gender") -%}
Respond with a single word. Based on the character prompt.

Examples: male, female, neutral
{% endif -%}
{% if character_sheet.q("name") -%}
Respond with a fantasy-inspired name based on the character prompt and story context.
Don't respond with None or Unknown.

Examples: Aragorn, Legolas, Thrall, Sylvanas, etc.
{% endif -%}
{% if character_sheet.q("age") -%}
Respond with a number only.
{% endif -%}
{% if character_sheet.q("appearance") -%}
Briefly describe the character's appearance using a narrative writing style. (2 - 3 sentences). {{ spice("Make it {spice}.", spices) }}
{% endif -%}
{% if character_sheet.q("personality") -%}
Briefly describe the character's personality using a narrative writing style. (2 - 3 sentences). {{ spice("Make it {spice}.", spices) }}
{% endif -%}
{% if character_sheet.q("family and friends") -%}
List close family and friends of {{ character_sheet("name") }}. Respond with a comma-separated list of names. (2 - 3 names, include age)
{% endif -%}
{% if character_sheet.q("likes") -%}
List some things that {{ character_sheet("name") }} likes. Respond with a comma-separated list of things. (2 - 3 things)

Dont copy the examples. Be creative.

Examples: potion-brewing, sword-fighting, ancient runes, etc.
{% endif -%}
{% if character_sheet.q("dislikes") -%}
List some things that {{ character_sheet("name") }} dislikes. Respond with a comma-separated list of things. (2 - 3 things)

Dont copy the examples. Be creative.

Examples: necromancy, injustice, daylight, etc.
{% endif -%}
{% if character_sheet.q("clothes and accessories") -%}
Briefly describe the character's clothes and accessories using a narrative writing style. (2 - 3 sentences). {{ spice("Make it {spice}.", spices) }}
{% endif -%}
{% if character_sheet.q("magical abilities") -%}
Briefly describe the character's magical abilities using a narrative writing style. (2 - 3 sentences). {{ spice("Make it {spice}.", spices) }}
{% endif -%}

{% for custom_attribute, instructions in custom_attributes.items() -%}
{% if character_sheet.q(custom_attribute) -%}
{{ instructions }}
{% endif -%}
{% endfor %}
The context is {{ content_context }}

<|SECTION:CHARACTER SHEET|>
{{ character_sheet.render_items }}

{{ bot_token }}{{ character_sheet.current_item }}: