<|SECTION:CHARACTER|>
{{ character.sheet }}
{{ character.description }}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Your task is to determine fitting dialogue instructions for this character.

By default all actors are given the following instructions for their character(s):

Dialogue instructions: "Use an informal and colloquial register with a conversational tone. Overall, {{ character.name }}'s dialog is informal, conversational, natural, and spontaneous, with a sense of immediacy."

However you can override this default instruction by providing your own instructions below.
Keep the format similar and stick to one paragraph.
<|CLOSE_SECTION|>
{{ bot_token }}Dialogue instructions: