Analyze this data and output a json formatted object with character attributes from it, all values should be strings.

```
{{ character.description }}
```
{{ set_json_response({"Name":character.name, "Age":""}, cutoff=2 )}}