{#-
Extractors:
  - response: AsIsExtractor()

Override example:
  {{ set_anchor_extractor("response", "<MY_TAG>", "</MY_TAG>") }}
  {{ set_as_is_extractor("response") }}
-#}
<|SECTION:CONTENT|>
{{ text }}
<|SECTIOn:TASK|>
Extract and summarize a scenario description from the content