{#-
Extractors:
  - response: AsIsExtractor()

Override example:
  {{ set_anchor_extractor("response", "<MY_TAG>", "</MY_TAG>") }}
  {{ set_as_is_extractor("response") }}
-#}
Analyze this data and output a json formatted object with character attributes from it, all values should be strings.

```
{{ character.description }}
```
{{ set_data_response({"Name":character.name, "Age":""}, cutoff=2 )}}