<|SECTION:CONTENT|>
{% if text -%}
{{ text }}
{% else -%}
{% set scene_context_history = scene.context_history(budget=max_tokens-500, min_dialogue=25, sections=False, keep_director=True) -%}
{% if scene.num_history_entries < 25 %}{{ scene.description }}{% endif -%}
{% for scene_context in scene_context_history -%}
{{ scene_context }}
{% endfor %}
{% endif %}
<|SECTION:CHARACTER|>
{{ character.sheet }}
{% include "task-information.jinja2" %}
<|SECTION:TASK|>
Extract and summarize a character description for {{ character.name }} from the content
{{ set_prepared_response(character.name) }}