<|SECTION:TASK|>
Generate a json list of {{ text }}.

Number of items: {{ count }}.

Return valid json in this format: 

{% if data_format_type() == "json" %}
{
    "items": [
        "first",
        "second",
        "third"
    ]
}
{% else %}
```yaml
items:
  - first
  - second
  - third
```
{% endif %}
<|CLOSE_SECTION|>
{{ set_data_response({"items": ["first"]}) }}