{% set volatile_placement = volatile_context_placement() %}
{% set history = scene.context_history(
    budget=budget,
    min_dialogue=20,
    sections=False)
%}
{% set volatile_context_text %}{% with memory_prompt = history %}{% include "memory-context.jinja2" %}{% endwith %}{% endset %}
{% if volatile_placement != "after_history" %}{{ volatile_context_text }}{% endif %}
<|SECTION:SCENE|>
{% for scene_context in history -%}
{{ scene_context }}
{% endfor %}
<|CLOSE_SECTION|>
{% if volatile_placement == "after_history" %}{{ volatile_context_text }}{% endif %}
