Characters

{% for character in characters -%}
{{ character.name }}: {{ character.description }}
{% endfor %}

Example Dialogues

{% for character in characters -%}
{% for dialogue in character.example_dialogue -%}
{{ dialogue }}
{% endfor -%}
{% endfor %}

Character Goals

{% for goal in character_goals -%}
{{ goal }}
{% endfor %}

Scenario Context

{% for context in scenario_contexts -%}
{{ context }}
{% endfor %}