<|SECTION:CHARACTERS|>
{% for character in scene.characters -%}
{{ character.name }}: 
{{ character.description }}
{{ query_memory("What does "+character.name+" want?") }}
{% endfor %}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Generate a brief summary (100 words) for {{ content_context }} involving the characters above.

{% if prompt -%}
Premise: {{ prompt }}
{% endif -%}
The context is a text based game played from the perspective of {{ scene.get_player_character().name }}.

Use a narrative writing style that reminds of mid 90s point and click adventure games.
<|CLOSE_SECTION|>