<|SECTION:CHARACTERS|>
{% for character in scene.characters -%}
{{ character.name }}: 
{{ character.description }}
{{ query_memory("What does "+character.name+" want?") }}
{% endfor %}
<|CLOSE_SECTION|>
<|SECTION:Name|>
{{ name }}
<|CLOSE_SECTION|>
<|SECTION:DESCRIPTION|>
{{ description }}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Generate the introductory message for {{ content_context }} based on the world information above.

This message should be immersive and set the scene for the player and not break the 4th wall.

The context is a text based game played from the perspective of {{ scene.get_player_character().name }}.

This would be the first message displayed to the player as they enter a new game.

This text should set the scene and give the player a sense of the world they are in.
{% if prompt -%}
Premise: {{ prompt }}
{% endif -%}

Use a narrative writing style that reminds of mid 90s point and click adventure games.
<|CLOSE_SECTION|>
{{ set_prepared_response('You') }}