
{{ query_scene("What is "+character.name+" age, race, and physical appearance?") }}
{{ query_scene("What clothes is "+character.name+" currently wearing and doing?") }}
{{ query_scene("Where is "+character.name+" currently at? Briefly describe the environment.") }}


<|SECTION:TASK|>
{% if instructions %}Requested Image: {{ instructions }}{% endif %}

Describe the scene to the painter to ensure he will capture all the important details when drawing a dynamic and truthful image of {{ character.name }}.

Include details about the {{ character.name }}'s appearance exactly as they are, and {{ character.name }}'s current pose.
Include a description of the environment.

Include details about: name, age, race, gender, physique, expression, pose, clothes/equipment, hair, skin, eyes, scars, tattoos, piercings, and any other relevant details.

THE IMAGE MUST ONLY INCLUDE {{ character.name }} EXCLUDE ALL OTHER CHARACTERS.
YOU MUST ONLY DESCRIBE WHAT IS CURRENTLY VISIBLE IN THE SCENE.

The image will be used as a real time portrait of {{ character.name }} in the game.
Use only comma separated keywords.
Keywords should be ordered from most impactful to least.

if {{ character.name }} is female add the keyword "1girl"
if {{ character.name }} is male add the keyword "1boy"
<|CLOSE_SECTION|>
{{ set_prepared_response(character.name+", solo,")}}