{% block rendered_context -%}
<|SECTION:CONTEXT|>
{% include "extra-context.jinja2" %}
<|CLOSE_SECTION|>
{% endblock -%}
<|SECTION:SCENE|>
{% for scene_context in scene.context_history(budget=max_tokens-512-count_tokens(self.rendered_context())) -%}
{{ loop.index }}. {{ scene_context }}
{% endfor %}
{{ query_scene("Provide a detailed description of the current environment, excluding persons.", as_question_answer=False) }}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Describe the scene to the painter to ensure he will capture all the important details of the environment WITHOUT including any of the characters.

The image will be used as a background for a game, so it should be as detailed as possible.

Use short phrases and comma separated keywords.
<|CLOSE_SECTION|>