{% set scene_context = scene.context_history(budget=max_tokens-2048)|join("\n") %}
{% set full_context = character.sheet + scene_context %}
{{ query_text("What is "+character.name+" age, race, and physical appearance?", full_context) }}

{{ query_text("What clothes is "+character.name+" currently wearing? Provide a detailed description.", full_context) }}

{{ query_text("What is "+character.name+" current scene description?", full_context) }}

{{ query_text("Where is "+character.name+" currently at? Briefly describe the environment and provide genre context.", full_context) }}
{% set emotion = scene.world_state.character_emotion(character.name) %}
{% if emotion %}{{ character.name }}'s current emotion: {{ emotion }}{% endif %}
<|SECTION:TASK|>
{% if instructions %}Requested Image: {{ instructions }}{% endif %}

Describe the scene to the painter to ensure he will capture all the important details when drawing a dynamic and truthful image of {{ character.name }}.

Include details about the {{ character.name }}'s appearance exactly as they are, and {{ character.name }}'s current pose.
Include a description of the environment.

THE IMAGE MUST ONLY INCLUDE {{ character.name }} EXCLUDE ALL OTHER CHARACTERS.
YOU MUST ONLY DESCRIBE WHAT IS CURRENTLY VISIBLE IN THE SCENE.

Required information: name, age, race, gender, physique, expression, pose, clothes/equipment, hair style, hair color, skin color, eyes, scars, tattoos, piercings, and any other relevant details.

You must provide your answer as a comma delimited list of keywords.
Keywords should be ordered: physical appearance, emotion, action, environment
You must provide enough keywords to adequately describe the portrait to a stranger.
Your answer must be suitable as a stable-diffusion image generation prompt.
<|CLOSE_SECTION|>
{{ set_prepared_response(character.name+",")}}