<|SECTION:TASK|>
Your task is to generate an image generation prompt that will be used to generate an image.

{% if instructions %}Specific instructions for the requested image: {{ instructions }}{% endif %}
<|CLOSE_SECTION|>