{% set rendered_context_content -%}
<|SECTION:CONTEXT|>
{% include "extra-context.jinja2" %}
<|CLOSE_SECTION|>
{% endset %}
{{ rendered_context_content }}
{% set rendered_context_tokens = count_tokens(rendered_context_content) -%}
<|SECTION:SCENE|>
{% for scene_context in scene.context_history(budget=max_tokens-512-rendered_context_tokens) -%}
{{ loop.index }}. {{ scene_context }}
{% endfor %}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Describe the scene to the painter to ensure he will capture all the important details.
Use short phrases and comma separated keywords.
<|CLOSE_SECTION|>