You will provde two versions of the prompt:

1. A comma delimited list of keywords (stable-diffusion prompt). Negative keywords (things to avoid) can be prefixed with "no " - so for example "no text".
2. Descriptive text, explaining the visual style and content of the image in long form.

You must provide the keyword prompt inside <KEYWORDS></KEYWORDS> tags.
You must provide the descriptive prompt insice <DESCRIPTIVE></DESCRIPTIVE> tags.
You must provide both formats.