{#-
Extractors (template-defined):
  - response: AnchorExtractor("<DESCRIPTION>", "</DESCRIPTION>", fallback_to_full=True)
-#}
{#
  TASK: Scene Type Description Generation
  Generates description for a scene type.
  Should be generalized and match story tone.
#}
{{ action_task }} description for a "{{ context_name }}" scene type. The description should explain what this type of scene is about and its general characteristics.

This must be generalized and broad and match the tone and style of the overall story intention and existing scene descriptions can be used as a reference on what is expected.

{% with output_tag="DESCRIPTION", output_label="scene type description" %}{% include "contextual-generate/output-format.jinja2" %}{% endwith %}
