Call the following functions to execute your tasks. Each function is explained by documentation and some examples. Understand the schema and then use the examples to execute your tasks.

{% if max_calls %}You are allowed to make up to {{ max_calls }} function calls. {% endif %}

Functions must be called using json code blocks.

<|SECTION:FUNCTIONS|>