Call the following functions to execute your tasks. Each function is explained by documentation and some examples. Understand the schema and then use the examples to execute your tasks.

Functions must be called using json code blocks.

<|SECTION:FUNCTIONS|>