Your task is to analyze the current moment in the scene to guide the story editors to generate visual details about {{ character.name }}.

{{ li() }}. Give a brief overview of {{ character.name }}'s persona in the current moment.

{% if agent_context_state["narrator__narrative_direction"] %}The story editors were given the following direction: "{{ agent_context_state["narrator__narrative_direction"] }}".
{{ li() }}. Briefly analyse the direction, what does it mean for describing {{ character.name }}?
{{ li() }}. Briefly describe how you will help the editors emphasize visual details that fulfill the direction.
{% endif %}

{% with task_instructions="What is the reader expecting from the visual character description of " + character.name + " at this moment? Convey at least one NEW, UNKNOWN and INTERESTING detail that fits those expectations!" -%}
{{ li() }}. {% include "scene-intent-inline.jinja2" %}
{% endwith %}

{{ li() }}. Briefly describe {{ character.name }}'s immediate visual state:
- What actions or movements are they making?
- What is notable about their current appearance and expression?
- What details about their clothing or carried items stand out?

{% if context_investigation -%}
{{ li() }}. Briefly list any relevant bits of information about {{ character.name }}'s appearance from the "Potentially relevant information" section. Skip this step if there aren't any.

- Changes to their appearance during this scene
- Notable gestures or mannerisms shown before

Note that the 'Potentially relevant information' section has been filled in from a previous prompt and may not be relevant at all.
{% endif %}

{% if length >= 1024 %}Carefully plan what visual information the story editors should include in their visual description of {{ character.name }}.{% endif %}