{% for entry in entries %}
{% if entry.get("layer") > -1 or layer == -1 %}<|SECTION:CHAPTER {{ loop.index }}|>
{{ time_diff(entry.get("ts_end", entry.get("ts"))) }}
{{ entry["text"] }}
<|CLOSE_SECTION|>{% endif %}
{% endfor %}
<|SECTION:CURRENT SCENE|>
{% for entry in entries %}
{% if entry.get("layer") == -1 %}{{ entry["text"] }}

{% endif %}
{% endfor %}
{{ scene.snapshot(lines=15, ignore=['director', 'reinforcement']) }}
<|CLOSE_SECTION|>

<|SECTION:QUERY|>
{{ query }}

<|SECTION:ANALYSIS|>
{{ analysis }}

{% if questions_and_answers %}We have extracted the following information by reading through some of the chapters, that may or may not be relevant to the query:

{{ questions_and_answers }}

Take into consideration that these answers were given in the context of the chapters and may not be directly related to the query. Use your best judgement to determine if the information is relevant to the query.{% endif %}

<|SECTION:TASK|>

### Available Functions
- `answer(answer)` to provide an answer or context or both.
  - Use the history for context, but source the answer from the Chapter(s).
  - You MUST NOT let the query impact the answer. The chapters are the source of truth. The query may imply or assume incorrect things.
  - The answer MUST be factional information and MUST NOT mention chapter numbers.
  - Answer the query and provide contextual and circumstantial details.
  - Limit the answer to two paragraphs.
  - The answer text must be explanatory summarization, NOT narration.
  - For historic context include a note about how long ago the situation occured and use past tense. You must always mention how long ago your sourced information was the truth.
  {% if character %}- Also include a note as to how aware {{ character.name }} is of the information you provided in your answer.{% endif %}
- `abort()` if its not possible for you to provide an answer with the given context and information.

### Rules
- You can only all answer or abort.
- When using the `answer()` function always write from the perspective of the investigator.
- Use untyped code blocks, so ``` instead of ```python.
- End with `DONE` after calling a function.
- You must not invent or guess, you can however decide to provide extra context if a factual answer is not possible.

### Response Format
Follow this format exactly:

ANALYSIS: <Quick Analysis of the query, the provided information and how they relate. Then expand on how it informs the answer.>

FUNCTION SELECTED: <Quickly explain which function you have selected and why.>

CALL:
```
<function_name>(<arguments>)
```
DONE
<|CLOSE_SECTION|>
<|SECTION:EXAMPLES|>
Answering:

CALL:
```
answer("Two weeks ago James discovered that the red door led to the secret chamber where the treasure was hidden. James learned about it from his grandfather.{% if character %} James knows this information, as he was the one to discover it.{% endif %}")
```
DONE

Aborting:

CALL:
```
abort()
```
DONE
{{ bot_token }}ANALYSIS: 