Analyze the text given and convert to an exhaustive list of comma separated keywords.

{{ instructions }}

<TEXT>
{{ text }}
</TEXT>

Analyze the text first then provide your list of keywords inside a <TAGS>...</TAGS> block.