{% block rendered_context -%}
<|SECTION:TEXT|>
{{ text }}
<|CLOSE_SECTION|>
{% endblock %}
<|SECTION:TASK|>
In the provided text there may be instructions to read specific story chapters for more information.

First analyze the text and answer the following question: Have the story editors been instructed to read any chapters? 

Each instruction will contain a chapter number and a question or instruction for analysis.

Call the appropriate function(s) to investigate the chapters.

{{ focal.render_instructions() }}

{{ 
    focal.callbacks.investigate_context.render(
        "Execute context investigation request.", 
        chapter_number="The number of the chapter to investigate. (e.g., 1.1 or 2.3)",
        query="The question or instruction to analyze the chapter for. What information are you trying to retrieve? This can be more than one question. Be very specific about the details you want to gather.",
        examples=[
            { "chapter_number": "1.1", "query": "Where did they buy the gun?" },
            { "chapter_number": "2.3", "query": "What was the name of the woman in the red dress?" }
        ]
    ) 
}}

{{
    focal.callbacks.abort.render(
        "Abort the context investigation request. Use this if there are no explicit instructions to query any chapters.",
        examples=[{}],
        multiple=False,
    )
}}
<|CLOSE_SECTION|>