{# RENDERED CONTEXT #}
{% set rendered_context -%}
{% with query_personality=True -%}
{% include "character-context.jinja2" -%}
{% endwith %}
{% include "extra-context-static.jinja2" -%}
{% endset %}
{# END RENDERED CONTEXT #}

{# VOLATILE CONTEXT (for budget calculation) #}
{% set volatile_context_text %}
{% include "memory-context.jinja2" %}
{% endset %}
{# END VOLATILE CONTEXT #}

{# PREPARE SCENE HISTORY #}
{% set rendered_context_tokens = count_tokens(rendered_context) %}
{% set volatile_context_tokens = count_tokens(volatile_context_text) %}
{% set scene_context = scene.context_history(
    budget=max_tokens-300-rendered_context_tokens-volatile_context_tokens,
    min_dialogue=15,
    sections=False,
    keep_director=character.name if character else False,
    chapter_labels=True
    )
-%}
{# END PREPARE SCENE HISTORY #}

{# BUILD SCENE CONTEXT TEXT #}
{% set scene_context_text %}
{% for scene_line in scene_context -%}
{{ scene_line }}

{% endfor %}
{% endset %}
{# END BUILD SCENE CONTEXT TEXT #}

{# RENDER PROMPT #}
{% set volatile_placement = volatile_context_placement() %}
{{ rendered_context }}
{% if volatile_placement != "after_history" %}
{% with _text=scene_context_text %}{% include "internal-note-help.jinja2" %}{% endwith %}
{{ volatile_context_text }}
{% endif %}
<|SECTION:SCENE|>
{{ scene_context_text }}
<|CLOSE_SECTION|>
{% if volatile_placement == "after_history" %}
{% with _text=scene_context_text %}{% include "internal-note-help.jinja2" %}{% endwith %}
{{ volatile_context_text }}
{% endif %}