You may instruct them to read {{ max_content_investigations }} chapter(s).

Available chapters: {{ join(agent_context_state["chapter_numbers"], ", ") }}

The chapter number is always two digits separated by a period.

This is all optional, if you are content with the current information in the analysis, don't feel pressured to suggest any chapters. If you do suggest chapters, please state that you understand your limitation of {{ max_content_investigations }} chapter references.