{% if extra_context %}{% set section_name = "chapter 2" %}{% else %}{% set section_name = "chapter 1" %}{% endif %}
{% include "character-context.jinja2" -%}
{% if extra_context %}
<|SECTION:PREVIOUS CONTEXT|>
{{ extra_context }}
<|CLOSE_SECTION|>
{% endif -%}
<|SECTION:{{ section_name }}|>
{{ section_name.upper() }} START
{{ dialogue }}
{{ section_name.upper() }} END
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Provide a compressed, short summary for {{ section_name }}.

Do not repeat any information from the original content. 

The summary MUST be maximum 3 sentences. Keep it concise, but keep key details.

The writing style MUST match the tone of the original content. This is a {{ scene.context }}, so treat it as such.
<|CLOSE_SECTION|>
{% if generation_options and generation_options.writing_style %}
<|SECTION:WRITING STYLE|>
{{ generation_options.writing_style.instructions }}
<|CLOSE_SECTION|>
{% endif %}
{{ bot_token }}In {{ section_name }},