<|SECTION:DIALOGUE|>
{{ dialogue }}
<|CLOSE_SECTION|>

<|SECTION:TASK|>
Question: What happens within the dialogue? Summarize into narrative description.
Content Context: This is a specific scene from {{ scene.context }}
Expected Answer: A summarized narrative description of the dialogue that can be inserted into the ongoing story in place of the dialogue.
<|CLOSE_SECTION|>
Narrator answers: 