{% set character_guidance = agent_action("director", "get_cached_character_guidance", character_name=character.name) %}
{% set character_direction=scene.last_message_of_type("director", character_name=character.name, max_iterations=3) or conversation_instruction  -%}
{% set character_instruction=agent_context_state["conversation__instruction"] -%}
{% if character_guidance %}
<|SECTION:CHARACTER GUIDANCE|>
{{ character_guidance }}
<|CLOSE_SECTION|>
{% else %}
{% if character_direction or character_instruction  %}
<|SECTION:CHARACTER DIRECTION|>
{{ character_direction or character_instruction }}
<|CLOSE_SECTION|>
{% endif %}
{% if character.dialogue_instructions -%}
<|SECTION:ACTING INSTRUCTIONS FOR {{ character.name|upper }}|>
{{ character.dialogue_instructions }}
<|CLOSE_SECTION|>
{% endif %}
{% endif%}
