{% set gamestate_text %}
{% if gamestate %}<|SECTION:GAMESTATE|>
Data format: {{ data_format_type() }}
{% if data_format_type() == "yaml" %}
```yaml
{{ yaml(gamestate) }}```
{% else %}
```json
{{ json(gamestate) }}
```
{% endif %}
<|CLOSE_SECTION|>{% endif %}
{% endset %}
{% if gamestate and (not max_gamestate_tokens or count_tokens(gamestate_text) <= max_gamestate_tokens) %}
{{ gamestate_text }}
{% endif %}