{% if not _text or "(Internal note" in _text %}
<|SECTION:How to use internal notes|>
Internal notes provide additional context to the state of the scene at the time they are inserted and can be used to help you with consistency when writing.

Internal notes are sequential in nature and true at the moment they are inserted and there may be things that happen afterwards that change their information.
<|CLOSE_SECTION|>
{% endif %}