{% if response_length -%}
    {% if response_length <= 32 %}{% set response_length_units = "very few words" %}
    {% elif response_length <= 64 %}{% set response_length_units = "1 - 2 sentences" %}
    {% elif response_length <= 128 %}{% set response_length_units = "2 - 3 sentences" %}
    {% elif response_length <= 256 %}{% set response_length_units = "3 - 5 sentences" %}
    {% elif response_length <= 384 %}{% set response_length_units = "1 paragraph" %}
    {% elif response_length <= 512 %}{% set response_length_units = "2 paragraphs" %}
    {% elif response_length <= 1024 %}{% set response_length_units = "4 paragraphs" %}
    {% elif response_length <= 1536 %}{% set response_length_units = "8 paragraphs" %}
    {% else %}{% set response_length_units = "extensive" %}
    {% endif%}
{% endif -%}
{% if response_length_units and response_length_units != "extensive" -%}
The length of your response must fit within {{ response_length_units }}.
{% elif response_length_units and response_length_units == "extensive" -%}
Be as detailed and verbose as you need to be in your response.
{% endif %}