<|SECTION:SCENE TYPES|>
{% for scene_type in scene.intent_state.scene_types %}
### {{ scene_type.name }}
#### Description
{{ scene_type.description }}

#### Instructions
{{ scene_type.instructions }}
{% endfor %}
<|CLOSE_SECTION|>