{% if character -%}
    {% set content_block_identifier = character.name + "'s next dialogue" %}
{% else -%}
    {% set content_block_identifier = "next narrative" %}
{% endif -%}
{% block rendered_context -%}
<|SECTION:CONTEXT|>
{%- with memory_query=scene.snapshot() -%}
    {% include "extra-context.jinja2" %}
{% endwith %}
{% if character %}
{{ character.name }}'s description: {{ character.description|condensed }}
{% endif %}

{{ text }}
<|CLOSE_SECTION|>
{% endblock -%}
<|SECTION:SCENE|>
{% set scene_history=scene.context_history(budget=max_tokens-512-count_tokens(self.rendered_context())) -%}
{% set final_line_number=len(scene_history) -%}
{% for scene_context in scene_history -%}
{{ loop.index }}. {{ scene_context }}
{% endfor -%}
{% if not scene.history -%}
No dialogue so far
{% endif -%}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
What are continuity errors?

Continuity errors are mistakes in a story that occur when something changes from one scene to the next. This could be a character's appearance, state of clothing, the time of day, or even the weather. These errors can be distracting for the reader and can take them out of the story. It's important to catch these errors and fix them before the story is published.
{% if character -%}
CAREFULLY Analyze {{ character.name }}'s next line in the scene for continuity errors.
{% else -%}
CAREFULLY Analyze the next line in the scene for continuity errors.
{% endif -%}

YOU MUST DO THIS LINE BY LINE PROVIDING ANALYSIS FOR EACH LINE SEPARATELY.

```{{ content_block_identifier }}
{{ content }}
```

YOU MUST NOT PROVIDE REPLACEMENT SUGGESTIONS WHEN YOU FIND CONTINUITY ERRORS.

THINK CAREFULLY, consider state of the scene, the characters, clothing, items present or not longer present. If you find any continuity errors, list them in the response.

It is possible for the text to have multiple continuity errors. You must identify all of them.

Always analyze the full dialogue, don't stop if you find one error.

You response must be in the following format:

ERROR 1: explanation of error
ERROR 2: explanation of error
ERROR 3: explanation of error