{% if character -%}
    {% set content_block_identifier = character.name + "'s next scene (ID 4504)" %}
{% else -%}
    {% set content_block_identifier = "next narrative (ID 4504)" %}
{% endif -%}
{% block rendered_context -%}
<|SECTION:CONTEXT|>
{%- with memory_query=scene.snapshot() -%}
    {% include "extra-context.jinja2" %}
{% endwith %}
{% if character %}
{{ character.name }}'s description: {{ character.description|condensed }}
{% endif %}

{{ text }}
<|CLOSE_SECTION|>
{% endblock -%}
<|SECTION:SCENE|>
{% set scene_history=scene.context_history(budget=max_tokens-512-count_tokens(self.rendered_context())) -%}
{% set final_line_number=len(scene_history) -%}
{% for scene_context in scene_history -%}
{{ loop.index }}. {{ scene_context }}
{% endfor -%}
{% if not scene.history -%}
No dialogue so far
{% endif -%}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
{% if character -%}
CAREFULLY Analyze {{ character.name }}'s next scene for continuity errors.
{% else -%}
CAREFULLY Analyze the next scene for continuity errors.
{% endif %}

```{{ content_block_identifier }}
{{ content }}
```

Continuity errors are mistakes in the narrative that break the consistency of the story. These errors can be related to the plot, characters, setting, or even the time of day. They can be as simple as a character's hair changing length between scenes or as complex as a character's backstory changing.

Progression of the dialogue is important. The last line is the most important, the first line is the least important.

Respect the scene progression and answer in the context of line {{ final_line_number }}.

YOU MUST NOT PROVIDE REPLACEMENT SUGGESTIONS WHEN YOU FIND CONTINUITY ERRORS.

THINK CAREFULLY, consider state of the scene, the characters, agreements, clothing. If you find any CONFIRMED continuity errors specifically in {{ content_block_identifier }}, list them in the response.

You response must be in the following format, with each error on a new line:

ERROR: [Description of the error found]