{% include "scene-context.jinja2" %}
<|CLOSE_SECTION|>
{% set scene_analysis = agent_context_state["summarizer__scene_analysis"] %}
{% if scene_analysis %}
<|SECTION:SCENE ANALYSIS|>
{{ scene_analysis }}
<|CLOSE_SECTION|>
{% endif %}
<|SECTION:FUNCTION CALLING INSTRUCTIONS|>
{{ focal.render_instructions() }}

{{
    focal.callbacks.identify.render(
        "Identify a phrase in the draft text that qualifies as 'bad prose' according to the detection guidelines.",
        phrase="The phrase WITHIN the draft text. Don't just quote back from the guidelines, identify the phrase in the draft text.",
        reason="The reason why the phrase is bad prose",
        instructions="The instructions to fix the issue.",
        examples=[
            { 
                "phrase": "...",
                "reason": "...",
                "instructions": "..."
            }
        ],
    )
}}
<|SECTION:Guidelines for writing style|>
Follow these to detect bad or unwanted prose:

{{ instructions }}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Analyze the draft text againts the `Guidelines for writing style`, and identify all phrases in the draft text that qualify as "bad prose" according to these detection guidelines. 

``` draft text
{{ text }}
```

IMPORTANT RULES:
1. State your understand of the writing style,
2. Evaluate the draft text based on your understanding of the writing style.
3. Identifying a phrase means, repeat it back as it is written in the draft text.

You MUST repeat your understanding of the task, and these rules.

Then after your analysis, call the `identify` function for each phrase that qualifies as "bad prose" according to the detection guidelines.

If not phrases qualify, don't call any functions.
<|CLOSE_SECTION|>