{% include "scene-context.jinja2" %}
<|SECTION:DRAFT TEXT|>
{{ text }}
<|CLOSE_SECTION|>
{% set issues = 0 %}
{# repetition #}{% if repetition %}
{% set issues = issues + 1 %}
<|SECTION:ISSUE {{ issues }}: REPEATED TEXT|>
These sentences have been classified as repetition and must either be substantially rewritten or removed. When removing a sentence, substitute something else, that's meaningful to the story and context.

{% for repeat in repetition %}- `{{ repeat["text_a"].strip() }}`
{% endfor %}
<|CLOSE_SECTION|>
{# end repetition #}{% endif %}
{# unwanted prose #}{% if bad_prose %}
{% set issues = issues + 1 %}
<|SECTION:ISSUE {{ issues }}: UNWANTED PROSE|>
These phrases or words have been identified by the director as bad, and MUST be changed accordingly.

{% for phrase in bad_prose %}- `{{ phrase.phrase }}` -- {{ phrase.instructions }}
{% endfor %}
<|CLOSE_SECTION|>
{# end unwanted prose #}{% endif %}
<|SECTION:TASK|>
Rewrite the draft text to fix potential issues.

1. Analyze each issue separately, taking into account the instructions and guidelines for it.
2. Specifically compare against previous messages, instead of rewriting the same information often it is better to just drop the repetitive sentence entirely. Its no use to convey the SAME information again just with different words. Repeat back your understanding of this concept.
3. Your confident plan for fixing the issues.
4. Rewrite the text to fix the issues, the best you can, according to the plan you made.
5. Your revised text MUST be prefixed by REVISION: so we can identify it.

<|SECTION:RESPONSE FORMAT|>
You MUST provide your response in the following format:

1. repeat back your understanding of the task
2. your analysis of each explicitly mentioned issue and your plan for fixing it
3. your revision of the ENTIRE draft text 
<|CLOSE_SECTION|>