{% raw %}{{[SYSTEM]}}{% endraw %}{{ system_message }}{% raw %}{{[SYSTEM_END]}}{% endraw %}{% raw %}{{[INPUT]}}{% endraw %}{{ user_message }}{% raw %}{{[INPUT_END]}}{% endraw %}{% raw %}{{[OUTPUT]}}{% endraw %}{{ coercion_message }}