{% block rendered_context -%}
{% if analysis %}
<|SECTION:ANALYSIS|>
{{ analysis }}
<|CLOSE_SECTION|>
{% endif %}
<|SECTION:TEXT|>
{% for entry in entries %}
{{ time_diff(entry.get("ts_end", entry.get("ts"))) }}
{{ entry["text"] }}
{% endfor %}
<|CLOSE_SECTION|>
{% endblock %}
<|SECTION:TASK|>
{{ instructions }}

{% if response_length < 512 %}
Your response should be 1 to 3 sentences long. Keep it concise but informative.
{% elif response_length < 1024 %}
Your response should be 2 to 4 sentences long.
{%  endif %}