{#-
Extractors:
  - response: AsIsExtractor()

Override example:
  {{ set_anchor_extractor("response", "<MY_TAG>", "</MY_TAG>") }}
  {{ set_as_is_extractor("response") }}
-#}
<|SECTION:TEXT|>
{{ text }}

<|SECTION:TASK|>
Analyze the text above and answer the question.

Question: {{ query }}
{{ bot_token }}Answer: