<|SECTION:CONTEXT|>
{{ text }}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
You have access to a vector database to retrieve relevant data to gather more established context for the continuation of this conversation. If a character is asking about a state, location or information about an item or another character, make sure to include queries that help gather context for this.

Please compile a list of up to 10 short queries to the database that will help us gather additional context for the actors to continue the ongoing conversation.

Each query must be a short trigger keyword phrase and the database will match on semantic similarity.

Each query must on its own line as raw unformatted text.
<|CLOSE_SECTION|>