{% set questions = instruct_text("Ask the author 5 important questions to gather more context from the past for the continuation of this conversation. If a character is asking about a state, location or information about an item or another character, make sure to include question(s) that help gather context for this. You also have unlimited access to the world database and can just ask for information directly. If you don't know what something is just ask directly.", text) %}
<|SECTION:CONTEXT|>
{%- with memory_query=questions -%}
    {% include "extra-context.jinja2" %}
{% endwith %}
{{ text }}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Answer the following questions:

{{ questions }}

Your answers should be truthful and contain relevant data. Pay close attention to timestamps when retrieving information from the context.

<|CLOSE_SECTION|>
<|SECTION:RELEVANT CONTEXT|>
{{ bot_token }}Answers: 