<|SECTION:JSON SCHEMA|>
{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {
    "characters": {
      "type": "object",
      "additionalProperties": {
        "type": "object",
        "properties": {
          "snapshot": {
            # describe the character's current state in the scene
            "type": "string"
          },
          "emotion": {
            # simple, one word e.g., "happy", "sad", "angry", "confused", "scared" etc.,
            "type": "string"
          }
        },
        "required": ["snapshot", "emotion"]
      }
    },
    "items": {
      "type": "object",
      "additionalProperties": {
        "type": "object",
        "properties": {
          "snapshot": {
            # describe the item's current state in the scene
            "type": "string"
          }
        },
        "required": ["snapshot"]
      }
    },
    "location": {
      # where is the scene taking place?
      "type": "string"
    }
  },
  "required": ["characters", "items", "location"]
}
<|CLOSE_SECTION|>
<|SECTION:LAST KNOWN WORLD STATE|>
{{ scene.world_state.pretty_json }}
<|CLOSE_SECTION|>
<|SECTION:SCENE PROGRESS|>
{% for scene_context in scene.context_history(budget=300, min_dialogue=5, add_archieved_history=False, max_dialogue=5) -%}
{{ scene_context }}
{% endfor -%}
<|CLOSE_SECTION|>
<|SECTION:TASK|>
Update the existing JSON object for the world state to reflect the changes in the scene progression.

Objects that are no longer explicitly mentioned in the scene progression should be removed from the JSON object.
<|CLOSE_SECTION|>
<|SECTION:UPDATED WORLD STATE|>{{ set_json_response(dict(characters={"name":{}}), cutoff=1) }}