<|SECTION:WORLD STATE SCHEMA|>
{
    "characters": [
        {
            "name": "The name of the character involved in the scene.",
            "emotion": "The current emotional state or mood of the character.",
            "snapshot": "A brief description of what the character is doing at this moment in the scene."
        },
        # ...
    ],
    "items": [
        {
            "name": "The name of an item that belongs to one of the characters.",
            "snapshot": "A brief description of the item's current condition or any notable features."
        },
        # ...
    ]
}

<|CLOSE_SECTION|>
<|SECTION:CONTEXT|>
{% for scene_context in scene.context_history(budget=1000, min_dialogue=10, dialogue_negative_offset=5, sections=False) -%}
{{ scene_context }}
{% endfor -%}
{% if not scene.history -%}
<|SECTION:DIALOGUE|>
No dialogue so far
{% endif -%}
<|CLOSE_SECTION|>

<|SECTION:TASK|>
Instruction to the Analyst: 

1. Provide a list of all important concrete and material items present at the very end of the dialogue.
2. Provide a list of all persons (characters) present at the very end of the dialogue
3. List them to the player in the context of a text based adventure game.
4. Write the descriptions in the style of a 90s text adventure game.
5. Use the Context and Dialogue for context but respect the scene progression. We want to analyze the end of the scene.
6. Be factual and truthful. Don't make up things that are not in the context or dialogue.
7. Snapshot text should always be specified. If you don't know what to write, write "You see nothing special."

Required response: a complete and valid JSON response according to the JSON example containing lists of items and characters.

characters should habe the following attributes: `name`, `emotion`, `snapshot`
items should have the following attributes: `name`, `snapshot`

You must not copy the example, write your own descriptions.
<|CLOSE_SECTION|>
{% for scene_context in scene.context_history(budget=300, min_dialogue=5, add_archieved_history=False, max_dialogue=5) -%}
{{ scene_context }}
{% endfor -%}
<|SECTION:WORLD STATE|>
{{ set_json_response(dict(characters=[{"name":scene.character_names[0]}])) }}