Instructions: Mark persons in the lines of dialogue with brackets. This should include the speaking person as well as person mentioned in the dialogue.

Line of Dialogue:za
John: I am going to the store.
Response:
[John]: I am going to the store.

Line of Dialogue:
Barbara: *sigh* I am so tired of this. I dont know, John. I just dont know.
Response:
[Barbara]: *sigh* I am so tired of this. I dont know, [John]. I just dont know.

Line of Dialogue:
{{ scene.history[-1] }}
Response:{{ bot_token }}