<|start_of_role|>system<|end_of_role|>{{ system_message }}<|end_of_text|>
<|start_of_role|>user<|end_of_role|>{{ user_message }}<|end_of_text|>
<|start_of_role|>assistant<|end_of_role|>{{ coercion_message }}